/* Default */

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    max-height: 150vh;
    background-color: rgb(235, 235, 235);
}

.body {
    position: relative;
    display: flex;
}

.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #333;
    height: 50px;
    bottom: 0;
    width: 70%;
}

/* Left Container */

.left-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30vw;
    height: 100vh;
}

.left-container img {
    width: 100%;
    height: 100%;
}

.banner {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 24%;
    width: 100%;
}

.banner-content {
    color: white;
    text-align: center;
}

.left-footer {
    text-align: center;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5vh;
}

.left-footer a {
    color: white;
    text-decoration: none;
}

/* Right Container */

.right-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.top-container {
    padding-top: 9%;
    padding-right: 20%;
    padding-left: 3%;
    min-height: 20vh;
}

.middle-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 20vh;
}

fieldset {
    height: 100%;
    border: none;
}

.form {
    padding-left: 3%;
    box-shadow: 5px 25px 10px gray;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.row {
    display: flex;
}

.input {
    display: flex;
    flex-direction: column;
}

.input.right {
    margin-left: 15%;
}

input {
    margin-bottom: 4%;
    border-radius: 4px;
    border: 3px solid gray;
    height: 3vh;
    width: 20vw;
}

input:focus {
    border-color: blue;
    box-shadow: 5px 5px 10px gray;
}

.bottom-container {
    padding-left: 3%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    min-height: 20vh;
}

button {
    width: 175px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: darkgreen;
    border: none;
}

button:active {
    transform: scale(0.95);
}

.bottom-container p {
    display: inline;
}

.login-text {
    padding-top: 3%;
}

.bottom-container .login-text2 {
    color: forestgreen;
    font-weight: bold;
    text-decoration: none;
}

/* Responsive Design */

@media only screen and (max-width: 1000px) {
    body {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .body {
        flex-direction: column;
    }

    .footer {
        width: 100%;
        margin-top: 10%;
    }

    .left-container, .right-container, .top-container, .middle-container, .bottom-container {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .input, .row {
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    form {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input.right {
        margin: 0;
    }

    input {
        width: 100%;
    }

    button {
        margin-top: 2%;
    }
}