/* Default */

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    max-height: 150vh;
    background-color: rgb(235, 235, 235);
}

.body {
    position: relative;
    display: flex;
}

.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #333;
    height: 35px;
    bottom: 0;
    width: 70%;
}

/* Left Container */

.left-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30vw;
    height: 100vh;
}

.left-container img {
    width: 100%;
    height: 100%;
}

.banner {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 23.8%;
    width: 100%;
}

.banner-content {
    color: white;
    text-align: center;
}

.left-footer {
    text-align: center;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5vh;
}

.left-footer a {
    color: white;
    text-decoration: none;
}

/* Right Container */

.right-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
}

.top-container {
    padding-right: 20%;
    padding-left: 3%;
    height: 35%;
}

.top-container h3 {
    padding-top: 9%;
}

.middle-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 45%;
}

fieldset {
    height: 100%;
    border: none;
}

.form {
    padding-left: 3%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.row {
    display: flex;
    margin-bottom: 3%;
}

.input {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.input.right {
    margin-left: 15%;
}

input {
    border-radius: 4px;
    border: 3px solid gray;
    height: 3vh;
    width: 20vw;
}

input:focus {
    border-color: blue;
    box-shadow: 5px 5px 10px gray;
}

.error, .cError {
    opacity: 0;
    width: 73%;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

.bottom-container {
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    height: 20%;
}

button {
    margin-top: 1%;
    width: 175px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: darkgreen;
    border: none;
}

button:active {
    transform: scale(0.95);
}

.bottom-container p {
    display: inline;
}

.login-text {
    padding-top: 3%;
}

.bottom-container .login-text2 {
    color: forestgreen;
    font-weight: bold;
    text-decoration: none;
}

/* Responsive Design */

@media only screen and (max-width: 700px) {
    body, .body {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .left-container, .right-container, .top-container, .middle-containerm .bottom-container, .footer {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .left-container {
        width: 100%;
    }

    .right-container {
        display: flex;
        justify-content: center;
        min-height: 139vh;
    }

    .right-container h3 {
        padding: 0;
    }

    .top-container {
        height: 20%;
    }

    .middle-container {
        height: 63%;
    }

    .bottom-container {
        height: 17%;
    }

    .form {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: scroll;
    }

    .row {
        margin: 0;
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .input {
        position: relative;
        justify-content: center;
        align-items: center;
    }

    input {
        width: 100%;
        margin-bottom: 15%;
    }

    .input.right {
        margin: 0;
        padding: 0;
    }

    .error, .cError {
        text-align: center;
        width: 100%;
        position: absolute;
        top: 55%;
    }
}

@media only screen and (max-width: 600px) {
    .right-container {
        height: 150vh;
    }

    .top-container {
        height: 20%;
    }

    .middle-container {
        height: 63%;
    }

    .bottom-container {
        height: 17%;
    }
}

@media only screen and (max-width: 400px) {
    .right-container {
        height: 100vh;
    }

    .top-container {
        height: 20%;
    }

    .middle-container {
        height: 58%;
    }

    .bottom-container {
        height: 17%;
    }
}